@import "../css/common.css";
@import "../css/reset.css";

.app404{
  width: 800px;
  height: 500px;
  margin: 80px auto;
}
.app404 .first i{
  width: 600px;
  height: 300px;
  font-size: 260px;
  color: #4169e1;
  margin: 20px 80px;
}