@import "../css/common.css";
@import "../css/reset.css";

body{
  background-color: rgb(239, 243, 245);
}
.apporder .nav_set{
  margin: 0px 160px;
}
.apporder #nav_set_fix{
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
  height: 3.7em;
  box-shadow: 0px 0px 40px 20px rgb(239, 243, 245);
}
.apporder .nav_set .nav_set_left ul li{
  float: left;
  color: black;
  padding: 10px 20px;
  margin: 6px 20px;
  font-size: 1.2em;
}
.apporder a:-webkit-any-link{
  color: black;
}
.apporder .nav_set .nav_set_right ul li button:hover,.apporder .nav_set .nav_set_left ul li:hover{
  border-radius: 16px;
  background: rgba(211, 211, 211, .8);
  box-shadow: 0px 0px 8px 4px rgb(211, 211, 211);
  cursor: pointer;
}
.apporder .nav_set .nav_set_right ul li button{
  float: right;
  color: black;
  padding: 9px 20px;
  margin: 8px 20px;
  font-size: 1.2em;
  border-bottom: none;
}
.apporder .nav_set .nav_set_right ul li img{
  float: right;
  margin: 12px 20px;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  overflow: hidden;
}
.apporder h1 i{
  font-size: 2.2rem;
}
.apporder .el-dialog{
  border-radius: 24px;
}
.apporder .el-dialog__title{
  text-align: center;
  font-weight: bold;
}
.apporder .el-input{
  width: 90%;
}
.apporder .el-form-item__label{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.apporder .el-button+.el-button{
  margin-left: 38px;
}
.apporder .set_login .el-input__inner:hover,.apporder .set_register .el-input__inner:hover{
  box-shadow: 0px 0px 8px 4px rgb(64 158 255);
}
.apporder .set_login .el-input__inner:focus,.apporder .set_register .el-input__inner:focus{
  box-shadow: 0px 0px 1px 1px #4169e1;
}
.apporder .set_login .divgetPwd{
  display: inline-block;
  position: absolute;
  right: 10%;
  cursor: pointer;
}
.apporder #data_list{
  margin: 20px 170px 0px 170px;
}